<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">  <link rel="stylesheet" href="./assets/css/master.css">
  <link rel="icon" href="./assets/img/icon.png" type="image/x-icon"/>
  <title>Boolzap</title>
<head>
<body class="flex">
  <div id="root" class="flex">
    <!-- parte sinistra -->
    <div class="side-left">
      <!-- nav-left -->
      <div class="nav flex">
        <div class="avatar flex">
          <img src="./assets/img/avatar_3.jpg" alt="avatar">
          <span class="bold">Leonardo</span>
        </div>
        <div class="cmd">
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-comment-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <!-- notidiche -->
      <div class="notifiche flex">
        <i class="fas fa-bell-slash"></i>
        <div class="notify-text">
          <p>Ricevi notifiche di nuovi messaggi</p>
          <a href="#" class="grey underline">Attiva le notifiche desktop</a>
        </div>
      </div>
      <!-- cerca -->
      <div class="search flex">
        <button><i class="fas fa-search"></i></button>
        <input type="text" placeholder="Cerca o inizia una nuova chat">
      </div>
      <!-- lista contatti -->
      <div class="msg-area">
        <div class="msg flex" v-for="info in contacts">
          <div class="left flex">
            <img :src="'./assets/img/avatar' + info.avatar + '.jpg'" :alt="info.name">
            <div class="msg-text">
              <p class="bold">{{ info.name }}</p>
              <p  v-for="message in contacts.messages"class="grey"></p>
            </div>
          </div>
          <div class="right">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <!-- prte destra -->
    <div class="side-right flex">
      <!-- nav-right -->
      <div class="nav flex">
        <div class="avatar flex">
          <img src="./assets/img/avatar_1.jpg" alt="avatar">
          <div class="avatar-text">
            <p class="bold">Michele</p>
            <p class="grey">Ultimo accesso oggi alle ore 10/01/2020 16:15:22</p>
          </div>
        </div>
        <div class="cmd">
          <i class="fas fa-search"></i>
          <i class="fas fa-paperclip"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <!-- area messaggi -->
      <div class="content flex">
        <div class="box" :class="(contacts[0].messages[i].status == 'received') ? 'received' : 'sent'" v-for="(messaggio, i) in contacts[0].messages">
          <i class="fas fa-angle-down"></i>
          <p>{{ contacts[0].messages[i].text }}</p>
          <span>{{ contacts[0].messages[i].date }}</span>
          <ul>
            <li>Message Info</li>
            <li>Delete Message</li>
          </ul>
        </div>
      </div>
      <!-- area invio messaggio -->
      <div class="message-area flex">
        <i class="far fa-smile-wink"></i>
        <input type="text" v-model="inputTxt" placeholder="Scrivi un messaggio">
        <i v-if="inputTxt == ''" class="fas fa-microphone"></i>
        <i v-if="inputTxt != ''" class="fas fa-paper-plane"></i>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./assets/js/main.js" charset="utf-8"></script>
</body>
</html>
