<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">  <link rel="stylesheet" href="./assets/css/master.css">
  <link rel="icon" href="./assets/img/icon.png" type="image/x-icon"/>
  <title>Boolzap</title>
<head>
<body class="flex">
  <div id="root" class="flex" @click="openMenu">
    <!-- parte sinistra -->
    <div class="side-left">
      <!-- nav-left -->
      <div class="nav flex">
        <div class="avatar flex">
          <img src="./assets/img/myavatar.png" alt="avatar">
          <span class="bold white">Leonardo</span>
        </div>
        <div class="cmd">
          <i class="fas fa-circle-notch"><span class="green"></span></i>
          <i class="fas fa-comment-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <!-- notifiche -->
      <div class="notifiche flex">
        <i class="fas fa-bell-slash"></i>
        <div class="notify-text">
          <p class="white fs18">Ricevi notifiche di nuovi messaggi</p>
          <a href="#" class="grey underline fs18">Attiva le notifiche desktop</a>
        </div>
      </div>
      <!-- cerca -->
      <div class="search flex">
        <button><i class="fas fa-search" v-if="inputSearch == ''"></i><i class="fas fa-arrow-left" v-if="inputSearch != ''"></i></button>
        <input type="text" v-model="inputSearch"  placeholder="Cerca o inizia una nuova chat">
      </div>
      <!-- lista contatti -->
      <div class="msg-area">
        <div class="msg flex" :class="(i == indexChat) ? 'active' : ''" v-if="info.name.toLowerCase().includes(inputSearch.toLowerCase())" v-for="(info, i) in contacts" @click="cambiaConv(i)">
          <div class="left flex">
            <img :src="'./assets/img/avatar' + info.avatar + '.jpg'" :alt="info.name">
            <div class="msg-text">
              <p class="white bold fs18 marginb-8">{{ info.name }}</p>
              <p v-if="info.messages.length" class="grey fs13">{{info.messages[info.messages.length - 1].text}}</p>
              <p class="grey italic fs13" v-else>Non ci sono messaggi</p>
            </div>
          </div>
          <div class="right">
            <p v-if="info.messages.length" class="grey">{{ getDate(info.messages[info.messages.length - 1].date) }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- parte destra -->
    <div class="side-right flex">
      <!-- nav-right -->
      <div class="nav flex">
        <div class="avatar flex">
          <img :src="'./assets/img/avatar' + contacts[indexChat].avatar + '.jpg'">
          <div class="avatar-text">
            <p class="bold white fs18">{{contacts[indexChat].name}}</p>
            <!-- chiamo la funzione getDate per visualizzare l'ultimo accesso solo con ore e minuti passandole il contatto con l'index corrente, l'ultimo messaggio del contatto corrente, quindi la data -->
            <p class="grey">Ultimo accesso oggi alle ore {{getDate(contacts[indexChat].messages[contacts[indexChat].messages.length - 1].date)}}</p>
          </div>
        </div>
        <div class="cmd">
          <i class="fas fa-search"></i>
          <i class="fas fa-paperclip"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <!-- area messaggi -->
      <div class="content flex">
        <div class="box flex word-break" :class="(contacts[indexChat].messages[i].status == 'received') ? 'received' : 'sent'" v-for="(messaggio, i) in contacts[indexChat].messages">
            <i class="fas fa-angle-down" @click.stop="openMenu(i)" ></i>
            <p class="white fs15">{{ contacts[indexChat].messages[i].text }}</p>
          <div class="data">
            <p class="grey">{{ getDate(messaggio.date) }}</p>
          </div>
          <ul v-if="i == indexMsg">
            <li>Message Info</li>
            <li @click="deleteMsg(i)">Delete Message</li>
          </ul>
        </div>
        <div class="emoji">
          <img src="./assets/img/emoji.png" alt="emoji">
        </div>
      </div>
      <!-- area invio messaggio -->
      <div class="message-area flex">
        <i class="far fa-smile-wink" @click="emoji"></i>
        <input type="text" v-model="inputTxt" @keyup.enter="sendMsg" placeholder="Scrivi un messaggio">
        <i v-if="inputTxt == ''" class="fas fa-microphone"></i>
        <i v-if="inputTxt != ''" class="fas fa-paper-plane" @click="sendMsg"></i>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./assets/js/main.js" charset="utf-8"></script>
</body>
</html>
