* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

i {
  cursor: pointer;
}

/* utilities */
.flex {
  display: flex;
}

.grey {
  color: #778899;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}
/* /utilities */
body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #039789 15%, #d9dcd5 15%);
}

#root {
  width: 85%;
  height: 95%;
  background-color: lightblue;
}

.side-left {
  background-color: white;
  height: 100%;
  width: 35%;
}

.side-right {
  height: 100%;
  width: 65%;
  flex-direction: column;
}

.nav {
  padding: 10px;
  height: 8%;
  background-color: #eaeaea;
  border: 1px solid #b1b1b1;
  align-items: center;
  justify-content: space-between;
}

.cmd > i {
  padding: 0 5px;
  color: #b1b1b1;
  font-size: 20px;
}

.side-left > .nav {
  border-right: 0;
}

.avatar {
  align-items: center;
}

.avatar > span {
  padding-left: 10px;
}

.side-left > .nav > .avatar > img {
  width: 50px;
  border-radius: 50%;
  border: 1px solid #eaeaea;
}

.content {
  height: calc(100% - 16%);
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;
}

.message-area {
  background-color: #eaeaea;
  height: 8%;
  border-left: 1px solid #b1b1b1;
  align-items: center;
  justify-content: space-around;
}

.message-area > input {
  padding-left: 10px;
  width: 80%;
  height: 70%;
  border-radius: 8px;
  border: 1px solid #cfd2d7;
}

.message-area i {
  font-size: 20px;
}

.notifiche {
  padding: 10px;
  color: #000;
  height: 10%;
  background-color: #8edafc;
  align-items: center;
}

.notifiche > i {
  font-size: 20px;
  color: #8edafc;
  background-color: #fff;
  border-radius: 50%;
  padding: 15px;
}

.notify-text {
  padding-left: 10px;
}

.search {
  padding: 10px;
  background-color: #f8f8f8;
}

.search input {
  width: 100%;
  padding-left: 10px;
  border: 1px solid #cfd2d7;
}

.search button {
  cursor: pointer;
  background-color: #fff;
  color: #cfd2d7;
  padding: 5px 25px;
  border: 1px solid #cfd2d7;
  border-right: 0;
}

input:focus,
.search button:focus {
  outline: none;
}
